<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">BAUER GROUP - Bilder automatisch freistellen</label>
    <label lang="en">BAUER GROUP - Automatically remove background from picture</label>

    <version>0.0.3</version>
    <copyright>Copyright © 2020 BAUER GROUP - http://www.bauer-group.com/</copyright>
    <license>proprietary</license>
    <link>http://go.bauer-group.com/ecommerce</link>
	<support>http://go.bauer-group.com/support</support>
    <description>Das Plugin stellt die hochgeladenen Bilder automatisch frei. Dazu wird der Dienst https://www.remove.bg/ verwendet. Sie benötigen hierfür einen entsprechenden Account.</description>
    <author>BAUER GROUP</author>
	
    <compatibility minVersion="5.3.0"/>

    <changelog version="0.0.1">
        <changes lang="de">Erste Version</changes>
        <changes lang="en">First Version</changes>
    </changelog>
    <changelog version="0.0.2">
        <changes lang="de">RegEx Filter</changes>
        <changes lang="en">RegEx Filter</changes>
    </changelog>
    <changelog version="0.0.2">
        <changes lang="de">RegEx Filter Update</changes>
        <changes lang="en">RegEx Filter Update</changes>
    </changelog>     
</plugin>
